{% extends 'website/base.html' %}
{% load static %}
{% block title %}Legal Disclaimer{% endblock title %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>About</li>
            </ol>
            <br>
            <h4>About Us</h4>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

            <p>Everybody can access the financial investment market in today's technologically advanced world. <b><u>But not
                everyone gets the benefits they deserve, and regrettably, some even suffer losses.</u></b> Here's where we come
                to your rescue! <b>FinWiz Financial Solutions</b> – <i>The Gateway to your Financial freedom.</i></p>

            <br>
            <h5><b>Who are we?</b></h5><br>

            <p>When we noticed that people were having problems investing in the stock market and those who were,
                weren't receiving the returns they deserved, our journey began in 2018. This reason is what motivated us
                to help them. Thus, we began to help these people and secured for them the fantastic profits they so
                richly deserve.</p>
            <p>However, we weren't satisfied; we wanted to do more to help people. We wanted to demonstrate to them how
                we could ease their financial lives. As a result, we founded FinWiz Financial Solutions in 2021,
                intending to help those in need.</p>
            <p>Everyone works very hard for their money, and no one wants to see their money go to waste. That's our
                vision, too. We will <strong>MAKE MONEY WORK FOR YOU!</strong></p>

            <br>
            <h5><b>What do we do?</b></h5><br>

            <p>All forms of financial instruments are what we deal in. Since every investor's profile differs, we find
                it best to have personally customised consultation sessions. Then, we analyse your financials, including
                income, inbound and outbound cash flows, prior investments, future expenses, and more, to create a
                personalised financial plan to meet your short-term and long-term goals. In addition, we offer insurance
                services to lessen your risk against your assets in the event of unfavourable events.</p>
            <p>Risk management is essential to everyone's life. We do more than filing your taxes; our company's
                certified public accountant examines your financial statements and develops a strategy to save you the
                most money possible on taxes. Rest assured that tax avoidance is legal, unlike tax evasion, which is
                illegal. We also offer loans, loan planning/consulting, and tax filing services. We also specialise in
                asset allocation, retirement planning, overseas investments, will planning, and career/business
                consultation, which has helped our clients' earnings rise by 30% to even 60%. For those wishing to
                pursue a profession in the financial industry, we offer instruction in fundamental and technical
                analysis for trading equity, equity futures, and equity options.</p>
            <p><i>We hope you can relax and delegate your financial tasks to FinWiz Financial Solutions. <strong>WE MAKE MONEY WORK
                FOR YOU</strong>, as our motto says, so that you may put your trust in us. After all, we wouldn't want you to
                invest your money and not profit from it.</i></p>
        </div>
    </section>

</main><!-- End #main -->

<script type='text/javascript'>

  $(document).ready(function(){
    $("#header").addClass("header-inner-pages");
})








</script>

{% endblock content %}