<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-15EX79KR3H"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-15EX79KR3H');

    </script>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %} Home {% endblock title %} - FinWiz</title>
    {% load static %}
    {% block head_meta %}
    <meta content="FinWiz - We make your money work for you" name="description">

    <meta content="" name="keywords">
    {% endblock head_meta %}

    {% block head_favicon %}
    <!-- Favicons -->
    <link href="{% static 'website/img/finwiz-favicon.png' %}" rel="icon">
    <link href="{% static 'website/img/finwiz-favicon.png' %}" rel="apple-touch-icon">
    {% endblock head_favicon %}

    {% block javascript %}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    {% endblock javascript %}

    {% block fonts %}
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    {% endblock fonts %}


    {% block vendor_css %}
    <!-- Vendor CSS Files -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    {% endblock vendor_css %}

    <!-- Template Main CSS File -->
    {% block main_css %}
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">
    {% endblock main_css %}
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">

<!--                <h1 class="logo me-auto me-lg-0"><a href="{% url 'index' %}">FinWiz</a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="{% url 'index' %}" class="logo me-auto me-lg-0">
                    <img src="{% static 'website/img/web-logo.png' %}" alt="" class="img-fluid" style="max-height:85px;">
                </a>


                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link scrollto active" href="{% url 'index' %}#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="{% url 'index' %}#about">About</a></li>
                        <li><a class="nav-link scrollto" href="{% url 'index' %}#services">Services</a></li>
                        <li><a class="nav-link scrollto " href="{% url 'index' %}#team">Team</a></li>
                        <li><a class="nav-link scrollto" href="https://finwizbible.blogspot.com/">Blog</a></li>
                        <!--                        <li><a class="nav-link scrollto" href="{% url 'index' %}#contact_form">Contact</a></li>-->
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

                <a href="{% url 'index' %}#contact_form" class="get-started-btn scrollto">Contact Us!</a>
            </div>
        </div>

    </div>
</header><!-- End Header -->

<div id="site-wrapper">
    {% block content %}
    if you see this, something is wrong!
    {% endblock content %}
</div>


<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>FinWiz</h3>
        <p>You work hard for your money, we'll work harder to get your money working for you.</p>
        <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/finwizsolutions/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            Copyright &copy; 2022 All Rights Reserved <strong><span>FinWiz</span></strong>.
        </div>
        <div class="footer-bottom-list">
            <ul style="padding-left: inherit;">
                <li style="display: inline;"><a href="{% url 'disclaimer' %}" class="disclaimer">Legal Disclaimer</a>
                </li>
                <span style="color: #009961;"> |</span>
                <li style="display: inline;"><a href="{% url 'privacy' %}" class="privacy">Privacy Policy</a></li>
                <span style="color: #009961;"> |</span>
                <li style="display: inline;"><a href="#" class="tos">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

{% block footer_js %}
<!-- Vendor JS Files -->
{% block footer_vendor_js %}
<script src="{% static 'website/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'website/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>
{% endblock footer_vendor_js %}

<!-- Template Main JS File -->

{% block footer_site_js %}
<script src="{% static 'website/js/main.js' %}"></script>
{% endblock footer_site_js %}

{% block page_js %}
{% endblock page_js %}

{% endblock footer_js %}

</body>

</html>