{% extends 'website/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1>FinWiz - We make your money work for you</h1>
                <h2>You work hard for your money, we'll work harder to get your money working for you.</h2>
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About Us</h2>
                <p>In today’s tech savvy world, everybody has access to the financial investments market. However not
                    everybody receives the returns they deserve and unfortunately some even incur losses. This is where
                    we
                    step in to the rescue!</p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        We analyse your financials such as income, inbound and outbound cashflows, prior
                        investments, future expenses and create a personalized financial plan to meet your short-term
                        and
                        long-term goals since each investor’s profile is unique and it should be done at a personally
                        customized
                        level via consultation sessions. We deal in all kinds of financial instruments. Apart from this
                        we also
                        provide insurance services to decrease your risk against your assets in case of any unfortunate
                        circumstances. Risk Management plays a vital role in any person’s life.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> We also provide loans and loan planning/consultation,
                            tax filing services wherein we not only file your
                            tax, our company C.A analyses your financial statements and creates a plan where we can
                            avoid maximum tax for your benefit; rest assured tax avoidance is legal unlike tax evasion
                            which is illegal.
                        </li>
                        <li><i class="ri-check-double-line"></i> We also specialise in Career/ Business Consultation and
                            have increased profits by 30% and even up to 60%
                            for our clients, Retirement Planning, Asset Allocation, Overseas Investments and Will
                            Planning.
                        </li>
                        <li><i class="ri-check-double-line"></i> We
                            provide training in fundamental and technical analysis for trading Equity and Equity Futures
                            and Options
                            for those looking to build a career in the Financial Industry.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We deal in all kinds of financial instruments. Apart from this
                        we also
                        provide insurance services to decrease your risk against your assets in case of any unfortunate
                        circumstances. Risk Management plays a vital role in any person’s life. Apart from this we also
                        provide insurance services to decrease your risk against your assets in case of any unfortunate
                        circumstances. Risk Management plays a vital role in any person’s life.
                    </p>
                    <a href="{% url 'about' %}" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>We provide the following financial services. Contact us if you need to patronize any of these.</p>
            </div>

            <div class="row">
                {% for service in services %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="{{service.icon}}"></i></div>
                        <h4><a href="">{{service.heading_text}}</a></h4>
                        <p>{{service.description_text}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Contact Us!</h3>
                    <p> There's a lot of confusion around where to invest, how much to invest, what returns to expect.
                        Contact us to get out of that bubble of confusion and get one step closer to financial freedom
                        with us!</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#contact">Contact Us!</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="icon-box mt-5 mt-lg-0">
                        <i class="bx bx-receipt"></i>
                        <h4>Est labore ad</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>
                    <div class="icon-box mt-5">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Harum esse qui</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                    <div class="icon-box mt-5">
                        <i class="bx bx-images"></i>
                        <h4>Aut occaecati</h4>
                        <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    </div>
                    <div class="icon-box mt-5">
                        <i class="bx bx-shield"></i>
                        <h4>Beatae veritatis</h4>
                        <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                    </div>
                </div>
                <div class="image col-lg-6 order-1 order-lg-2"
                     style='background-image: url({% static "website/img/features-1.jpeg" %});'></div>

            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-1.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-2.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-3.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-4.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-5.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-6.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-7.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="{% static 'website/img/clients/client-8.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="text-center title">
                <h3>What we have achieved so far</h3>
                <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
            </div>

            <div class="row counters position-relative">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="146" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="437" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Total Portfolios</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="0"
                          class="purecounter" style="display: inline">35</span><span style="display: inline">%</span>
                    <p>Average Compounded Annual Growth per Portfolio</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3>Frequently Asked <strong>Questions</strong></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            {%for faq in faqs %}
                            <li>
                                <a data-bs-toggle="collapse" class="collapse"
                                   data-bs-target="#accordion-list-{{ faq.id }}">
                                    {{ faq.question }}<i
                                        class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-{{ faq.id }}" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        {{ faq.answer }}
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                     style='background-image: url({% static "website/img/faq.jpg" %});'>&nbsp;
                </div>
            </div>

        </div>
    </section><!-- End Faq Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Our hardworking team</h2>
                <p>Our hardworking team is great in finance and has professionals.</p>
            </div>

            <div class="row gy-4">
                {% for member in team %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <!--                            <img src="{% static 'website/img/team/profile-for-site.jpg' %}" class="img-fluid" alt="">-->
                            <img src="{{ member.photo.url }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href="{{member.twitter}}"><i class="bi bi-twitter"></i></a>
                                <a href="{{member.facebook}}"><i class="bi bi-facebook"></i></a>
                                <a href="{{member.instagram}}"><i class="bi bi-instagram"></i></a>
                                <a href="{{member.linkedin}}"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>{{member.name}}</h4>
                            <span>{{member.designation}}</span>
                            <p>{{member.short_desc}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Team Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
        </div>

        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.5665983551917!2d72.8492850649026!3d19.170439587033837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b654cb2267d9%3A0x9aa07f95e6b1aa6c!2sKamal%20Apartments%2C%2070%2C%20Rd%20Number%202%2C%20Ganesh%20Nagar%20Cooperative%20Housing%20Society%2C%20Pandurang%20Wadi%2C%20Goregaon%2C%20Mumbai%2C%20Maharashtra%20400063!5e0!3m2!1sen!2sin!4v1659991625706!5m2!1sen!2sin"
                    width="600" height="450" style="border:20px; padding: 40px; width: 100%" allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="container">

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="ri-map-pin-line"></i>
                            <h4>Location:</h4>
                            <p>Kamal Apartments, Pandurangwadi Rd. No. 2, Goregaon East, Mumbai, Maharashtra 400063</p>
                        </div>

                        <div class="email">
                            <i class="ri-mail-line"></i>
                            <h4>Email:</h4>
                            <p>finwizfs@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="ri-phone-line"></i>
                            <h4>Call:</h4>
                            <p>+91 9892375053</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="" method="post" class="php-email-form">
                        {% csrf_token %}
                        <div class="row gy-4">
                            {{ contact_form.non_field_errors }}
                            <div class="col-md-6">
                                {{ contact_form.name.errors }}
                                <!--                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>-->
                                {{ contact_form.name }}
                            </div>

                            <div class="col-md-6 ">
                                {{ contact_form.email.errors }}
                                <!--                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>-->
                                {{ contact_form.email }}
                            </div>

                            <div class="col-md-12">
                                {{ contact_form.subject.errors }}
                                <!--                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>-->
                                {{ contact_form.subject }}
                            </div>

                            <div class="col-md-12">
                                {{ contact_form.message.errors }}
                                <!--                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>-->
                                {{ contact_form.message }}
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message">Oops! There was an issue. Please mail us.
                                </div>
                                <div class="sent-message">Your message has been sent, we will get back to you. Thank
                                    you!
                                </div>

                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% block page_js %}
<script type='text/javascript'>

  $(document).ready(function(){

    // AJAX for posting
    function contact_us() {
        $(".sent-message, .error-message").removeClass("d-block");
        $.ajax({
            headers: {'X-Requested-With': 'XMLHttpRequest'},
            url : "{% url 'contact_us' %}", // the endpoint
            type : "POST", // http method
            data : {
              name: $('#id_name').val(),
              subject: $('#id_subject').val(),
               email: $('#id_email').val(),
               message: $('#id_message').val(),
               csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            }, // data sent with the post request
            // handle a successful response
            success : function(response) {
                // remove the value from the input
                $('#id_name').val('');
                $('#id_subject').val(''); // remove the value from the input
                 $('#id_email').val(''); // remove the value from the input
                 $('#id_message').val('');
                $(".sent-message").html(response.responseText);
                $(".sent-message").addClass("d-block");
            },

            // handle a non-successful response
            error : function(response) {
                var err_msg = $.parseJSON(response.responseText);
                var error = "";
                $.each(err_msg, function(key, value){
                    console.log( "Key: " + key + ", Value: " + value );
                    error += "<p>" + value + "</p>"
                })
                $(".error-message").html(error);
                $(".error-message").addClass("d-block");
            }
        });
    }

    // Submit post on submit
    $('.php-email-form').off().on('submit', function(event){
        event.preventDefault();
        event.stopPropagation();
        contact_us();
    });

})









</script>

{% endblock page_js %}


{% endblock content %}